@charset "UTF-8";

*{margin: 0; padding: 0;}

/* reset */
/* 폰트는 (default)기본값으로 16px로 지정된다 */
h1,h2,h3,h4,h5,h6 {
    font-size: 16px;        /* 폰트사이즈 16px */
    font-weight: normal;    /* 폰트두께를 말한다 */
/* h1~h6까지 제목 글자크기나 두께가 모두 다르지만,
모두 16px과 normal로 리셋 시키는 역할을 지정했음. */

}

a{text-decoration: none; 
/* a태그 아래 지정된 밑줄을 none로 설정하면 삭제된다. */
color: #285; /* ->#228855 */
}
/* 컬러를 지정할때 #222은 #222222과 동일한 말이다. */
/* #234 -> #223344로 생각하면 된다.  */
/* #223345 는 3쌍이 안되기때문에 줄일 수 없음. */

/* 1. 약 ============================================ */


.약::after {
    content: ""; 
    clear: both; 
    display: block;
    background-color: red;
    height: 100px;
}

/* 2. 전체 ============================================ */


.전체{
    background-color: #5BC0F8;
    width: 1000px;
    margin: 30px auto 0;
    padding: 20px;
    box-sizing: border-box;}

.전체>div + div{margin-top: 30px;}
/*   + 기호는 div의 동생을 부르는 기호 */
/* 내 바로 위에 형이 있을때 (형제) */
/* [전체]안에 [형]이 있는 [div]에게 적용 */

/* 3. 첫째 ============================================ */


.전체 .첫째 {
    background-color: #FFB26B;
    padding: 20px;}

.전체 .첫째 .첫자:hover{
background-color: green;    
}
/* ::after; ::before는 ::를 1개,2개 상관없음
:hover는 1개만 적어야함. */

.전체 .첫째 .첫자 {
    background-color: #3c79f5;
    width: 49%;
    height: 200px;
    float: left;

}
.전체 .첫째 .첫자.첫째자식1 {
    margin-right: 2%;
}
.전체 .첫째 .첫자.첫째자식2 {

}
/* 첫자 첫째자식1로 지정했기때문에 중간 공백이 있으면안됨
.첫자.첫째자식1{}로 설정 */

/* 4. 둘째 ============================================ */


.전체 .둘째 {
    background-color: #c85c8e;

}
.전체 .둘째 .앵커 {
    background-color: blue;
}
.전체 .둘째 p{
    width: 150px;
    margin-top: 20px;
}
.전체 .둘째 p a{}
.전체 .둘째 p a img{width: 100%;}
/* 인라인요소는 공간을 인식하지 못한다. */
/* 그래서 넓이, 높이값을 줘도 적용되지 않는다. */
/*  예외) img, button 태그는 인라인 요소이며, */
/*  넓이와 높이가 적용된다. */


/* 설명) img가 a태그는 인라인요소이기때문에 인식하지못해서 */
/* p태그로 올라가 인식하게됨. */
/* width:100% -> width 150px을 따라감 */


/* ※ 인라인요소안에는 인라인요소만 들어간다. */
/*    (인라인요소안에 블럭 요소가 들어가지 않는다.) */
/* ※ 블럭요소안에는 인라인, 블럭요소 모두 들어간다. */
/*      <span>  <p> (X) ----> 인라인 / 블럭 X */
/*      <p>  <span> (O) ----> 블럭 / 인라인 O */
/*      <span>  <img> (O) --> 인라인 / 인라인 O */
/* CSS에서는 인라인 & 블럭 요소를 변경하여 사용할 수있으나,
위에 사용 유무에 대한 부분은 HTML에 사용하면 안된다는말 */

/* 5. 셋째 ============================================ */

.전체 .셋째 {
    background-color: #c85c8e;

}

/* 5.  ============================================ */
